/* Selettore universale */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regole css per la classe container */
.container {
    height: 1400px;
    width: 80%;
    margin: 30px auto;    
}

/* Regole css per l'elemento header */
header {
    height: 10%;
    background-color: #e579e6;
    margin-bottom: 2%;
}

/* Regole css per l'elemento main */
main {
    height: 28%;
    background-color: #e1d67a;
    margin-bottom: 2%;
}

/* Regole css div classe head */
.head {
    height: 7%;
    background-color: #abcfe7;
}

/* Article con elementi flottati */
article {
    height: 43%;
    background-color: #0186ff;
    margin-bottom: 2%;
}

.float {
    background-color: #abcfe7;
    float: left;
    width: 32%;
    height: 90%;
    margin-top: 2.5%;
}

.margin {
    margin-right: 2%;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
footer {
    height: 6%;
    background-color: #8801fe;
}